* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

/* encabezado (mixin)*/
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 150px;
  background-color: #5F634F;
}
header #logo {
  margin-left: 25%;
  width: 150px;
  height: 150px;
}
header #banner {
  opacity: 60%;
  width: 45%;
  height: 150px;
}

/* barra navegacion (mixin)*/
.navbar1 .menu_desk {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  bottom: 20px;
  margin-left: 12%;
  margin-right: 12%;
}
.navbar1 .menu_desk .menudesk {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Squada One", sans-serif;
  font-size: 130%;
  color: #5f634F;
  width: 170px;
  height: 40px;
  background-color: #DBEFBC;
  box-shadow: 0px 3px 4px rgb(105, 99, 99);
}
.navbar1 .menu_desk a {
  color: #5f634F;
  text-decoration: none;
}

/* Menu mobile */
#menu {
  display: none;
}

.menu2 {
  display: none;
  margin-right: 20px;
}

.menumobile {
  display: none;
  background-color: rgba(219, 239, 188, 0.9098039216);
  font-family: "Squada One", sans-serif;
  font-size: 200%;
}

.menu_mobile {
  margin-top: 30px;
  color: #5f634F;
}
.menu_mobile a {
  color: #5f634F;
  text-decoration: none;
}

/* titulo */
h1 {
  font-family: "Squada One", sans-serif;
  color: #5F634F;
  text-align: center;
}

h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "Squada One", sans-serif;
  text-align: center;
  color: #5f634F;
}

/* cajas index (flex)*/
.ing {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  position: relative;
  margin-left: 6%;
  margin-right: 6%;
  font-family: "Montserrat", sans-serif;
}
.ing .boxing {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 48%;
  height: 900px;
  flex-direction: column;
}
.ing .boxing .desc {
  width: 100%;
  height: 220px;
}
.ing .boxing .desc h3 {
  margin-top: 10px;
  font-family: "Squada One", sans-serif;
  text-align: center;
  color: #5f634F;
}
.ing .boxing .list {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.ing .boxing .list ul {
  width: 100%;
  margin-top: 20px;
}
.ing .boxing .list ul li span {
  font-weight: bold;
  text-decoration: underline;
}
.ing .boxing .btna {
  width: 30%;
}
.ing .boxing .btna a {
  color: white;
  border-radius: 5px;
  padding: 10px;
  background-image: linear-gradient(to right bottom, #5f634f, #7d8468, #9ca683, #bbca9f, #dbefbc);
  background-position: left;
  background-size: 400%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-decoration: none;
}
.ing .boxing .btna a:hover {
  transition: 1s;
  background-position: top;
}

/* box pagina ventas/alquileres */
.conteiner_card {
  margin-top: 20px;
  font-family: "Montserrat", sans-serif;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  height: 100%;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 30px;
}

.cuadros {
  width: 100%;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.45);
}

.btn-enlace {
  background-image: linear-gradient(to left top, #9bc4cb, #a6ced0, #b3d8d4, #c1e2d9, #cfebdf);
  background-position: left;
  background-size: 400%;
  height: 8%;
  width: 100%;
  border-radius: 0 0 5px 5px;
}
.btn-enlace:hover {
  transition: 1s;
  background-position: right;
}
.btn-enlace a {
  color: #5f634f;
  font-size: 120%;
  font-family: "Montserrat", sans-serif;
}

.cuadros_img {
  border-radius: 5px 5px 0 0;
  width: 100%;
  height: 50%;
  object-fit: cover;
}
.cuadros_img img {
  height: 400px;
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.cuadros_titulo {
  height: 8%;
  font-family: "Squada One", sans-serif;
  font-size: 150%;
  color: #5f634F;
  text-align: center;
}

.cuadros_container {
  height: 34%;
  width: 100%;
  padding: 10px;
  font-size: 100%;
  display: flex;
  flex-direction: column;
}
.cuadros_container p {
  font-size: 100%;
  margin-top: 20px;
}

/* Quienes somos */
.present {
  margin: 2%;
  width: 96%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.present_img {
  margin-top: 10%;
  grid-column: 1/3;
  grid-row: 1/2;
  border-radius: 5px;
}
.present_img img {
  border-radius: 5px;
  width: 90%;
  height: 70%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.45);
}

.present_cont {
  margin-top: 10%;
  grid-column: 3/5;
  grid-row: 1/2;
}
.present_cont p {
  margin-top: 15px;
  font-family: "Montserrat", sans-serif;
  font-size: 100%;
}

/* contenedor de informacion (grid) */
.grid-container {
  background-color: #9BC4CB;
  display: grid;
  grid-template-rows: 170px;
  grid-column-gap: 50px;
  grid-template-columns: repeat(3, 1fr);
}

.item1 img {
  width: 160px;
  height: 160px;
}

.item2 {
  font-family: "Montserrat", sans-serif;
  color: white;
  text-align: justify;
}

.item3 {
  font-family: "Montserrat", sans-serif;
  color: white;
  flex-direction: column;
}
.item3 ul li {
  list-style: none;
  margin-top: 10px;
}
.item3 ul li i {
  margin-right: 20px;
}
.item3 h3 {
  font-size: 180%;
  font-family: "Squada One", sans-serif;
  margin-bottom: 10px;
}

/*footer*/
footer {
  font-family: "Montserrat", sans-serif;
  background-color: #CFEBDF;
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.imgfoot img {
  margin-left: 15px;
  height: 25px;
  width: 25px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

/* pseudoclases */
.imgfoot img:hover {
  position: relative;
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.navbar1 .menu_desk .menudesk:hover {
  position: relative;
  bottom: 1px;
  transition: 1s;
  box-shadow: 0px 1px 40px #5f634F;
}

/* Pagina de contacto */
.contact {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 10px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.map {
  font-family: "Montserrat", sans-serif;
  grid-column: 3/5;
  grid-row: 1/4;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}
.map h2 {
  margin-bottom: 20px;
}
.map ul li {
  font-size: 130%;
  margin-top: 20px;
  list-style: none;
}
.map ul li i {
  margin-right: 20px;
}

.redes {
  grid-column: 3/5;
  grid-row: 4/6;
  margin-left: 20%;
  margin-right: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.redes h2 {
  color: #5f634F;
  text-shadow: 0 1px 300px #5e5c5c;
  font-family: "Montserrat", sans-serif;
  font-family: "Tangerine", cursive;
  font-size: 400%;
  text-align: center;
}

.imgredes {
  width: 100%;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.imgredes img {
  height: 40px;
  width: 40px;
  filter: opacity(70%);
}
.imgredes img:hover {
  filter: opacity(100%);
}

.textredes ul li p {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.boxrds {
  font-family: "Montserrat";
  color: #5f634F;
  height: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* FORMULARIO */
.formcont {
  grid-column: 1/3;
  grid-row: 1/6;
  font-family: "Montserrat";
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.formcont p {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 120%;
  margin-bottom: 20px;
}
.formcont form {
  text-align: center;
  width: 80%;
}
.formcont label {
  font-size: 15px;
  font-weight: 100%;
  margin-bottom: 15px;
}
.formcont input, .formcont textarea {
  font-family: "Montserrat";
  padding: 17px 25px;
  border-radius: 8px;
  margin-bottom: 10px;
  background-color: #CFEBDF;
  border: 2px solid #cfcdcd;
  color: #283629;
  outline: none;
}

.input-group {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.formcont input::placeholder, textarea::placeholder {
  color: #6b6969;
}

.btn1 {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 30px;
  font-size: 20px;
  font-family: "Squada One", sans-serif;
  color: #FFFFFF;
  border: 0;
  background-color: #5f634F;
  cursor: pointer;
}

.btn1:hover {
  background-color: #5f634F;
  color: #FFFFFF;
}

/* Media Queries */
@media only screen and (max-width: 900px) {
  #banner {
    display: none;
  }
  header {
    width: 100%;
    height: 100px;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
  }
  header #logo {
    height: 100px;
    width: 100px;
    margin-left: 20px;
    padding: 0px;
  }
  .menu2 {
    display: block;
    font-size: 250%;
    color: #DBEFBC;
  }
  .menumobile {
    display: none;
  }
  #menu:checked ~ .menumobile {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 100px;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
  .navbar1 {
    display: none;
  }
  h1 {
    margin-top: 30px;
  }
  .ing {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
  .ing .boxing {
    width: 100%;
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .grid-container {
    background-color: #9BC4CB;
    display: grid;
    grid-template-rows: 170px;
    grid-column-gap: 50px;
    grid-template-columns: 1fr;
  }
  .item2 {
    text-align: center;
    margin-bottom: 20px;
  }
  .item3 {
    display: none;
    text-align: center;
  }
  footer {
    height: 100px;
    display: flex;
    flex-direction: column;
  }
  .imgfoot img {
    height: 35px;
    width: 35px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .contact {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .redes {
    display: none;
  }
  .conteiner_card {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    padding: 1rm 4%;
    height: 100%;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
    margin-bottom: 30px;
  }
  /* Quienes somos */
  .present {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .present_img {
    border-radius: 5px;
    margin-left: 5%;
    margin-right: 5%;
  }
  .present_img img {
    border-radius: 5px;
    width: 100%;
    height: 70%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.45);
  }
  .present_cont {
    margin-top: 10%;
  }
  .present_cont p {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 15px;
    font-family: "Montserrat", sans-serif;
    font-size: 100%;
    margin-bottom: 20px;
  }
  .conteiner_card .cuadros {
    height: 850px;
  }
}
@media only screen and (max-width: 600px) {
  .ing .boxing {
    width: 100%;
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .ing .boxing .desc {
    width: 100%;
    height: 250px;
  }
  .ing .boxing .btna {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .conteiner_card {
    margin-top: 20px;
    font-family: "Montserrat", sans-serif;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    padding: 1rm 4%;
    height: 100%;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 30px;
  }
  .cuadros {
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.45);
  }
  .cuadros .btn-enlace {
    background-color: rgb(141, 194, 224);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100%;
    border-radius: 0 0 5px 5px;
  }
  .cuadros .btn-enlace a {
    color: white;
    font-size: 120%;
    font-family: "Montserrat", sans-serif;
    text-align: center;
  }
  .cuadros .cuadros_img {
    border-radius: 5px 5px 0 0;
    width: 100%;
    height: 30%;
    object-fit: cover;
  }
  .cuadros .cuadros_img img {
    height: 100%;
    width: 100%;
    border-radius: 5px 5px 0 0;
  }
  .cuadros .cuadros_titulo {
    height: 10%;
    font-family: "Squada One", sans-serif;
    font-size: 150%;
    color: #5f634F;
    text-align: center;
  }
  .cuadros .cuadros_container {
    height: 60%;
    width: 100%;
    padding: 10px;
    font-size: 100%;
    display: flex;
    flex-direction: column;
  }
  .cuadros .cuadros_container p {
    font-size: 100%;
    margin-top: 20px;
  }
}
.flexcenter, .btn-enlace, .present_img, .item1, .item2, .item3, .item3 h3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
